<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creatoo.hn.mapper.WhUserMapper">

	<!--个人中心消息提示  count(*) as num -->
	<select id="msgAlert" resultType='hashmap'>
		SELECT 
			t.reftype,
		FROM
			wh_user_alerts t
		WHERE
			1=1
			<if test="refuid != null">
				and	t.refuid = #{refuid}
			</if>
	</select>
	
	<!--个人中心头部消息提示 -->
	<select id="msgHeader" resultType='String'>
		SELECT 
			SUM(reftype) as num 
		FROM
			wh_user_alerts t
		WHERE
			1=1
			<if test="refuid != null">
				and	t.refuid = #{refuid}
			</if>
		GROUP BY
			t.refuid
	</select>

	<!-- 获取过期的用户订单 -->
	<select id="getUserActOrderTimeOut" resultType="hashmap">
			SELECT
					wao.id AS id,
					wao.activityid AS activityid,
					wao.userid AS userid,
					wao.ordernumber AS ordernumber,
					wao.ordersms AS ordersms,
					wao.ordersmstime AS ordersmstime,
					wao.ordersmsstate AS ordersmsstate,
					wao.ordername AS ordername,
					wao.orderphoneno AS orderphoneno,
					wao.ordersummary AS ordersummary,
					wao.orderisvalid AS orderisvalid,
					wao.ordercreatetime AS ordercreatetime,
					wao.eventid AS eventid,
					wao.ticketstatus AS ticketstatus,
					wao.ticketcode AS ticketcode,
					wao.printtickettimes AS printtickettimes,
					waa.name AS name,
					waa.address AS address,
					wat.playstarttime AS playstarttime,
					wat.playendtime AS playendtime,
					wat.playdate as playdate,
					wat.playstime as playstime,
					wat.playetime as playetime 
			FROM whg_act_order wao,whg_act_time wat,whg_act_activity waa
			<where>
				  wao.eventid = wat.id AND
				  wao.activityid = waa.id AND
				  wao.userid = #{userid} AND
				  wat.playstarttime &lt; now() 
			</where>
			  order by wao.ordercreatetime desc  
	</select>

	<!-- 获取未过期的用户订单 -->
	<select id="getUserActOrderNotTimeOut" resultType="hashmap">
		SELECT
		wao.id AS id,
		wao.activityid AS activityid,
		wao.userid AS userid,
		wao.ordernumber AS ordernumber,
		wao.ordersms AS ordersms,
		wao.ordersmstime AS ordersmstime,
		wao.ordersmsstate AS ordersmsstate,
		wao.ordername AS ordername,
		wao.orderphoneno AS orderphoneno,
		wao.ordersummary AS ordersummary,
		wao.orderisvalid AS orderisvalid,
		wao.ordercreatetime AS ordercreatetime,
		wao.eventid AS eventid,
		wao.ticketstatus AS ticketstatus,
		wao.ticketcode AS ticketcode,
		wao.printtickettimes AS printtickettimes,
		waa.name AS name,
		waa.address AS address,
		wat.playstarttime AS playstarttime,
		wat.playendtime AS playendtime,
		wat.playdate as playdate,
		wat.playstime as playstime,
		wat.playetime as playetime 
		FROM whg_act_order wao,whg_act_time wat,whg_act_activity waa
		<where>
			wao.eventid = wat.id AND
			wao.activityid = waa.id AND
			wao.userid = #{userid} AND
			wat.playstarttime &gt; now() 
		</where>
		order by wao.ordercreatetime desc  
	</select>
</mapper>